{% extends 'base.html.twig' %}

{% block css %}

{%  endblock %}

{% block dashboard %}
    <h3 class="page-header">Consultar Pacientes</h3>
{% endblock %}

{% block content %}
	{% if pacientes %}
		{% for paciente in pacientes %}
    	    {{ paciente.id }}
	    {% endfor %}
	{% else %}
		{{ "<p class='text-danger'> No hay pacientes registrados </p>" }}
	{% endif %}
	
{% endblock %}

{% block javascript %}
    {# Plugins requeridos por el modulo #}

{% endblock %}
