.idea
app/logs/
web/bundles/
app/cache/
web/logos/
src/Facto/POSBundle/Resources/public/tickets/
web/pics/
vendor/
composer.lock
composer.phar
web/app_dev.php
database
Vagrantfile
bootstrap.sh
web/js/compiled/
web/css/compiled/
web/js/fos_js_routes.js
.vagrant/