.idea
app/logs/
web/bundles/
app/cache/
web/logos/
web/pics/
vendor/
composer.lock
composer.phar
web/app_dev.php
database
Vagrantfile
bootstrap.sh
web/js/compiled/
web/css/compiled/
web/js/fos_js_routes.js
.vagrant/
/documento_analisis/main.pdf
/documento_analisis/main.synctex.gz
/documento_analisis/main.toc
/documento_analisis/main.aux
/documento_analisis/main.log
/documento_analisis/*.out
*.log
*.out
*.pdf
*.gz
*.toc
*.aux
*.*~
*.DS_Store
/app/Resources/views/Medico/pasoPrincipalConsulta.html.twig
vendor/