{# Vista parcial para mostrar la tabla de las alergias #}
<table class="table table-striped table-responsive"
       datatables="datatables"
       content="expediente.papanicolaous"
       columns="colsPapanicolaous"
       events="eventsPapanicolaous"
        >
    <thead>
    <tr>
        <th>
            Año
        </th>
        <th>
            Notas
        </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>