{# Vista parcial para mostrar la tabla para la busqueda de comunidades caducas al coordinador admin. #}
<table class="table table-striped table-responsive"
       datatables="datatables2"
       content="datosProductosTabla"
       columns="aoColsProductos"
       events="events2"
        >
    <thead>
    <tr>
        <th>
            <!--Header para el ID oculto-->
        </th>
        <th>
            Nombre
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Agregar-quitar
        </th>
        <th>
            Eliminar
        </th>

        <!--th>
            Stock
        </th-->
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>