{# Vista parcial para mostrar la tabla para la busqueda de comunidades caducas al coordinador admin. #}
<table class="table table-striped table-responsive"
       datatables="datatables"
       content="datosTablaHorario"
       columns="aoColsHorario"
       events="eventsHorario"
>
    <thead>
    <tr>
        <th>
            Horario inicio
        </th>
        <!--th>
            Precio
        </th>
        <th>
            Existencias
        </th-->
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>